.banner-bg{
    background-color: #fceae8;
}
.buy-now-button{
    background-color: #ff5e87;
    border: none;
}
.categories img{
    width: 100px;
}
#subscribe{
    height: 300px;
    background-color: #fceae8;
}
.footer-section p {
    background-color: #ff5e87;
    padding: 20px;
    text-align: center;
    color: white;
}